.box{

}

:global(.box){
  .ant-menu-item-selected{
    background: red;
  }
  .ant-layout-sider{
    background:#232A41 !important;
  }
  .ant-menu-dark{
    background:#232A41 !important;
  }
  .ant-menu{
    background:#232A41 !important;
    }
  .ant-layout-sider-children{
    background: wheat;
  }
   
}