.watch_{
    width: 95%;
    height: 90%;
    margin:0 auto;
}
.watch_top{
    height: 200px;
    background:white;
    border-radius: 10px;
}
.class_type{
    height: 65px;
    margin:40px 25px;
    line-height: 65px;
    
}
.test_type{
    display: flex;
    margin:0 25px;
}