.ViewTeacher{
  width: 100%;
  height: auto;
  padding:0 20px;
}

:local(h2){
  padding:20px 0px;
}

:local{
  .ant-table-thead > tr > th{
    text-align: center;
  }
  .ant-table-row > tr > td{
    text-align: center;
  }
}
