.headerbox{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.headerbox p:nth-child(1){
    width: 120px;
    margin: 16px 28px 16px 0;
    text-align: center;
    line-height: 64px;
    box-sizing: border-box;
    img{
        width: 100%;
        height: 100%;
    }
}
.headerbox p:nth-child(2){
    line-height: 64px;
    box-sizing: border-box;
  a{
      color: #000;
  }  
}