
.studentBox{
    width: 90%;
    height:100%;
    margin-left: 50px;
    Input{
        width:180px;
        display: inline-block;
        margin-right: 20px;
    }
    
    Button{
        margin-left: 20px;;
    }
    .forms{
        display: flex;
        justify-content: space-around;
    }
    
}