
.studentBox{
    width: 90%;
    height:auto;
    padding: 0 20px;
    
    .inner{
        width: auto;
        height: auto;
        padding: 20px;
        background-color: white;
        border-radius: 9px;
    }
    Input{
        width:180px;
        display: inline-block;
        margin-right: 20px;
    }
    
    Button{
        margin-left: 20px;;
    }
    .forms{
        display: flex;
    }
}
