.AfterSale {
  width: 500px;
  position: fixed;
  top: 70%;
  left: 70%;
  z-index: 9999;
  background-color: white;
  border-radius: 3px;
  transform: translateX(-50%);
  box-shadow: black 0px 0px 5px;
}

.AfterSale nav {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.AfterSale li {
  width: auto;
  height: 30px;
  line-height: 30px;
}

.AfterSale :global .add {
  text-align: center;
  padding: 10px 0;
}

.AfterSale :global section {
  min-height: 200px;
  height: 200px;
  overflow-y: auto;
}

.AfterSale :global section .left {
  height: 50px;
  text-align: left;
  padding-left: 5px;
}

.AfterSale :global section .left p:nth-child(1) {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: #ccc;
}

.AfterSale :global section .left span {
  padding: 0 10px;
  border-radius: 5px;
  background: #dbdbdb;
  color: black;
}

.AfterSale :global section .right {
  text-align: right;
  padding-right: 5px;
}

.AfterSale :global section .right span {
  padding: 0 10px;
  border-radius: 5px;
  background: #15a855;
  color: black;
}

.AfterSale :global section p {
  margin-bottom: 0;
}

.AfterSale :global section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.AfterSale :global section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  --webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
